<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindMate</title>
    <link rel="stylesheet" href="../static/input.css" />
  </head>
  <body>
    <!-- Heading section -->
    <nav class="head" id="head">
      <h1 class="head-text" id="head-text">MindMate</h1>

      <ul class="head-list">
        <li><a href="#head-text">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
      </ul>
    </nav>

    <!-- Intro section -->
    <div class="intro">
      <p class="intro-text">
        A Mental Health Chatbot fully focused for your wellbeing
      </p>
      <img src="../static/assets/brain.png" alt="" />
    </div>

    <!--    About section -->
    <section class="about" id="about">
      <div class="one about-div">About <br />MindMate</div>
      <div class="two about-div">
        At MindMate, we are committed to supporting mental health through
        AI-driven solutions. Our AI chatbot, Mashtishk, offers a compassionate
        space to discuss emotions and mental well-being. Whether you're feeling
        stressed, anxious, or just need someone to talk to, MindMate is here to
        guide you through difficult moments and provide emotional suppor
      </div>
    </section>

    <!-- Our services -->
    <div class="services" id="services">
      <p>Our services</p>
      <div class="service-flex">
        <button class="service-button graph">
          <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 9h5m3 0h2M7 12h2m3 0h5M5 5h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-6.616a1 1 0 0 0-.67.257l-2.88 2.592A.5.5 0 0 1 8 18.477V17a1 1 0 0 0-1-1H5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"/>
          </svg>
                    <a href="./chat-bot.html" target="_blank">
            Mashtishk- AI chatbot <span>&#8599;</span></a
          >
        </button>
        <button class="service-button analyzer">
          <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18.5A2.493 2.493 0 0 1 7.51 20H7.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .92-3.182 2.477 2.477 0 0 1 1.876-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 12 5.5m0 13v-13m0 13a2.493 2.493 0 0 0 4.49 1.5h.01a2.468 2.468 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.477 2.477 0 0 0-1.875-3.344A2.5 2.5 0 0 0 14.5 3 2.5 2.5 0 0 0 12 5.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M20 10.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185"/>
          </svg>
          
          <i class="fa-solid fa-comment"></i>
          <a href="./index.html" target="_blank"
            >Mental Health Anlayzer <span>&#8599;</span></a
          >
        </button>
      </div>
    </div>

    <footer class="footer">&copy; Copyright 2025. All rights reserved</footer>
  </body>
</html>
