<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mashtishk</title>
    <link rel="stylesheet" href="../static/input.css" />
  </head>
  <body>
    <!-- Heading section -->
    <nav class="head" id="head">
      <h1 class="head-text">Mashtishk</h1>

      <ul class="head-list">
          <li><a href="#head">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
      </ul>
    </nav>

    <!-- Intro section -->
    <div class="intro">
      <p class="intro-text">
        A Mental Health Chatbot fully focused for your wellbeing
      </p>
      <img src="../static/assets/brain.png" alt="" />
    </div>

    <!-- Chatbot -->
     <div class="chatbot">
            <a href="./chat-bot.html" target="_blank"
              >Try our Chatbot here <span>&#8599;</span></a>
     </div>

    <!--    About section -->
    <section class="about" id="about">
        <div class="one about-div">About <br />Mashtishk</div>
        <div class="two about-div">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a
          asperiores veritatis at voluptas, aliquid iusto ipsum neque rem non,
          aliquam iste magnam? Laboriosam reprehenderit sequi suscipit quos
          maiores voluptatibus quas dolores.
        </div>
      </section>

    <!-- Our services -->
    <div class="services" id="services">
      <p>Other services</p>
      <div class="service-flex">

        <button class="service-button graph">
          <a href="./index.html" target="_blank">Graph <span>&#8599;</span></a>
        </button>
        <button class="service-button analyzer">
          <a href="./index.html" target="_blank">Analyzer
          <span>&#8599;</span></a>
        </button>
      </div>
    </div>

    

    <footer class="footer">
        &copy; Copyright 2025. All rights reserved
    </footer>
  </body>
</html>
